@use '../../styles/Breakpoints.scss';
@use '../../styles/Forms.scss';

.characterCreationForm {
  padding: 10px;
  height: 100vh;
  color: lime;

  p:not(p.attributes):not(p.favoriteColors) {
    display: flex;
    justify-content: space-between;
    padding-bottom: 5px;
  }

  p.attributes, p.favoriteColors {
    // display: flex;
    height: auto;
    margin: auto 0;
    vertical-align: middle;
    padding-top: 10px;

    ul {
      li {
        padding: {
          left: 5px;
          right: 5px;
        }
        display: inline-block;
      }
    }
  }

  label {
    margin: auto 0;
  }

  input[type=text], input[type=checkbox], input[type=date], select {
    text-align: left;
    vertical-align: middle;
  }

  h1 {
    // box-sizing:border-box;
    display: block;
    height: 16px;
    margin: auto 0;
  }

  .attributes {
    div {
      display: flex;
      flex-wrap: wrap;
    }
  }

  .favoriteColors {
    div {
      display: flex;
      flex-wrap: wrap;
    }
  }

  .submit {
    padding-top: 10px;

    input[type=submit] {
      margin: 0 auto;
    }
  }
}
