form {
  background-color: #fff;

  p {
    display: flex;
    justify-content: space-between;
  }

  label {
    display: block;
    margin: auto 0;
  }

  input[type=text] {
    text-align: left;
    vertical-align: middle;
    width: 200px;
  }
}
